body {
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
margin: 0;
width: 100%;
height: 100%;
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: BLACK;
	height: 90px;
	width: 100%;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 65vw;
}

#name {
	font-family: 'Source Sans Pro';
	font-size: 30px;
	color: WHITE;
	font-weight: 200;
	margin: 0;
	letter-spacing: 3px;
}

#logo {
	width:5vw;
	padding-right: 1vw;
}

.tab {
	font-family: 'Source Code Pro';
	font-size: 14px;
	color: WHITE;
	font-weight: lighter;
	margin: 10px;
	cursor: pointer;
}

.tab:hover {
	/* color: #063d4c; */
	color: #367b8e;
}

.resume:hover {
	color: #367b8e;
	outline: 1px solid #367b8e;
}

#tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 25vw;
}

.resume {
	font-family: 'Source Code Pro';
	font-size: 14px;
	color: WHITE;
	font-weight: lighter;
	outline: 1px solid white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 10px;
	text-decoration: none;
}

.link {
	text-decoration: none;
	color: #367b8e;
}

.link:hover {
	font-weight: bold;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10vh;
	width: 100%;
	height: 100%;
}

#photo-intro-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#about {
	width: 65vw;
}

#projects {
	width: 65vw;
}

.subtitle {
	font-family: 'Source Code Pro';
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 3px;
	padding-bottom: 1vh;
	padding-top: 7vh;
}

.title {
	font-family: 'Source Sans Pro';
	font-size: 40px;
	font-weight: 300;
	padding-bottom: 2.5vh;
}

.blurb {
	font-family: 'Source Code Pro';
	font-size: 14px;
	font-weight: 400;
	letter-spacing:1px;
	line-height: 1.7em;
	padding-bottom: 3vh;
}

.sub {
	font-family: 'Source Code Pro';
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	display: inline-block;
	border-bottom: 3px solid #e1eeef;
	padding-top: 1vh;
	margin-bottom: 1vh;
}

.item-reg {
	font-family: 'Source Code Pro';
	font-size: 14px;
	font-weight: 400;
	letter-spacing:1px;
	line-height: 1.7em;
	font-weight:300;
	text-indent: 50px;
}

.item-bold {
	font-family: 'Source Code Pro';
	font-size: 14px;
	font-weight: 400;
	letter-spacing:1px;
	line-height: 1.7em;
	font-weight:500;
	text-indent: 25px;
	margin-top: 5px;
}

.item_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 55vw;
	outline: 1px solid #e1eeef;
	padding: 1vw;
	margin-bottom: 5vh;
	text-decoration: none;
	color: black;
}

.text_box {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	font-family: 'Source Code Pro';
	font-size: 12px;
	font-weight: 300;
	letter-spacing:1px;
	line-height: 1.7em;
}

.item_box:hover {
	outline: 3px solid #e1eeef;
}

.proj-pic {
	width:10vw;
	padding-left: 2vw;
}

.prof-pic {
	height:48vh;
	width: auto;
	padding-right: 2vw;
	padding-bottom: 3vh;
}

#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e1eeef;
	height: 50px;
	color: black;
	font-family: 'Source Code Pro';
	font-size: 10px;
}

@media (max-width: 450px) {
	body {
		width: 375px;;
	}
	#header {
		justify-content: space-between;
		width: auto;
		height: auto;
		align-items: center;
		justify-content: center;
		padding-top: 2vh;
		padding-bottom: 2vh;

	}
	#name {
		font-size: 20px;
	}

	#name-box {
		flex-direction: column;
	}

	#logo {
		width: 15vw;
	}
	#wrapper {
		margin-left: 0px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#tabs {
		margin-left: -20px;
		align-self: flex-start;
	}
	body {
		width: 100%;
	}

	#about, #projects {
		width: 75vw;
	}

	#footer {
		padding-bottom: 1vh;
	}

	#photo-intro-box {
		flex-direction: column-reverse;
	}


	.item_box {
		flex-direction: column;
		padding: 5vw;
	}

	.proj-pic {
		width: 30vw;
		padding-top: 5vh;
	}

	.prof-pic {
		height:40;
		padding-right: 0vw;
	}

	.item-reg {
		text-indent: 20px;
	}
	.item-bold{
		text-indent: 10px;
	}

	#about {
		/* text-align: center; */
	}
}
